*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: #333;
}
 .item{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

}
img{
    width: 100%;
    max-width: 1000px;

}
#nazad{
    z-index: 4;
    position: sticky;
    top: 0px;
    left: 40%;
    background-color: white;
    font-size: 30px;
    width: 20%;
    text-align: center;
    padding: 10px;

}
#pozadina{
    top: 0;
    height: 55px;
    position: sticky;
    width: 100%;
    background-color:rgba(0,0,0,0.3);

}
    
a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }
a{color: black;}


@media only screen and (max-width: 1600px){
    .item{
        width: 80%;
    }
    #nazad{
        left: auto;
        right: auto;
    }

}



